@tailwind base;
@tailwind components;
@tailwind utilities;


/* Add the smooth scrolling behavior */
html {
  scroll-behavior: smooth;
}

.underline-on-hover {
  text-decoration: none;
  position: relative;
  color: black;
}

.underline-on-hover::before,
.underline-on-hover::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  border-radius: 60px;
  bottom: 0;
  background-color: black;
  /* Adjust the color as needed */
  transition: all 0.3s;
}

.underline-on-hover::before {
  left: 50%;
  transform: translateX(-50%);
}

.underline-on-hover::after {
  right: 50%;
  transform: translateX(50%);
}

.underline-on-hover:hover::before,
.underline-on-hover:hover::after {
  width: 90%;
}


/* New class to maintain the width after hover */
.underline-on-hover.active::before,
.underline-on-hover.active::after {
  width: 90%;
}

.underline-on-click {
  text-decoration: none;
  position: relative;
  color: black;
}

.underline-on-click::before,
.underline-on-click::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  border-radius: 60px;
  bottom: 0;
  background-color: black;
  /* Adjust the color as needed */
  transition: all 0.3s;
}

.underline-on-click::before {
  left: 50%;
  transform: translateX(-50%);
}

.underline-on-click::after {
  right: 50%;
  transform: translateX(50%);
}



/* New class to maintain the width after click */
.underline-on-click.active::before,
.underline-on-click.active::after {
  width: 90%;
}

.transition-dropdown {
  transition-property: opacity, max-height;
  transition-duration: 0.3s;
  /* Adjust the duration according to your preference */
  transition-timing-function: ease-in-out;
  overflow: hidden;
}

/* Set the initial styles for the dropdown */
.dropdown-visible {
  opacity: 1;
  max-height: 500px;
}

.dropdown-hidden {
  opacity: 0;
  max-height: 0;
}


.pill-animation {
  transition: width 0.3s ease;
  /* You can adjust the duration and easing function */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  height: 4px; 
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the thumb */
  border-radius: 6px; /* Rounded corners of the thumb */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color of the track */
}

/* For Firefox */
/* Note: Firefox currently supports only scrollbar-color property */
/* and does not support styling the track separately */
* {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

.parallax {
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  height: 95vh;
}

.menjackets {
  background-image: url('./assets/menjackets.jpg');
}

.mentops {
  background-image: url('./assets/mentops.jpg');
}

.menbottom {
  background-image: url('./assets/menbottom.jpg');
}

.mencta {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.womenjackets {
  background-image: url('./assets/womenjackets.jpg');
}

.womentops {
  background-image: url('./assets/womentops.jpg');
}

.womenbottom {
  background-image: url('./assets/womenbottom.jpg');
}


.unisexbags {
  background-image: url('./assets/bag.jpg');
}

.unisexaccessories {
  background-image: url('./assets/accessories.jpg');
}


.womencta {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}