@tailwind base;
@tailwind components;
@tailwind utilities;


/* Add the smooth scrolling behavior */
html {
  scroll-behavior: smooth;
}

/* Add the underline effect to links with the .underline-on-hover class */
.underline-on-hover {
  text-decoration: none;
  position: relative;
  color: black;
}

.underline-on-hover::before,
.underline-on-hover::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  border-radius: 60px;
  bottom: 0;
  background-color: black;
  /* Adjust the color as needed */
  transition: all 0.3s;
}

.underline-on-hover::before {
  left: 50%;
  transform: translateX(-50%);
}

.underline-on-hover::after {
  right: 50%;
  transform: translateX(50%);
}

.underline-on-hover:hover::before,
.underline-on-hover:hover::after {
  width: 80%;
}


.transition-dropdown {
  transition-property: opacity, max-height;
  transition-duration: 0.3s;
  /* Adjust the duration according to your preference */
  transition-timing-function: ease-in-out;
  overflow: hidden;
}

/* Set the initial styles for the dropdown */
.dropdown-visible {
  opacity: 1;
  max-height: 500px;
}

.dropdown-hidden {
  opacity: 0;
  max-height: 0;
}


.pill-animation {
  transition: width 0.3s ease;
  /* You can adjust the duration and easing function */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.search-icon {
  transition: color 0.3s ease-in-out;
  /* Example transition, adjust properties as needed */
}

/* Add transition for the search input */
.search-input {
  transition: all 0.3s ease-in-out;
}

/* Add styles for when the search input is visible */

.search-input {
  transition: all 0.8s ease-in-out;
  opacity: 0;
  width: 0;
  visibility: hidden;
}

.search-input-visible {
  opacity: 1;
  transform: scale(1);
  width: 300px;
  visibility: visible;
}

.search-input-hidden {
  opacity: 0;
  width: 0;
  visibility: hidden;
}